.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/herobg.jpg");
  background-size: 100%;
}
.herosection {
  position: relative;
}
.herosection_card {
  position: absolute;
  top: -50px;
  left: 35%;
  margin-left: -100px;
  width: 50%;
}

.color-yellow {
  color: #ffb300;
}
.color-white {
  color: #ffffff;
}
.bg-yellow {
  background-color: #ffb300;
}
.bg-white {
  color: #ffffff;
}
@media (max-width: 756px) {
  .herosection_card {
    width: 80%;
  }
}
